@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
}

.searchBarCustom {
  width: 60%;
}
@media only screen and (max-width: 500px) {
  .searchBarCustom {
    width: 95%;
  }
}

.fadeContentDiv {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeContentDiv;
  z-index: 99;
}

@keyframes fadeContentDiv {
  from {
    opacity: 0;
    transform: translateY(-25%);
  }
  to {
    opacity: 1;
  }
}
